[package]
edition = "2021"
name = "biobear"
version = "0.14.5"

[lib]
crate-type = ["cdylib"]
name = "biobear"

[dependencies]
arrow = {version = "50.0.0", features = ["pyarrow"]}
datafusion = "35"
exon = {version = "0.8.4", features = ["all"]}
pyo3 = "0.20"
thiserror = "1.0"
tokio = {version = "1", features = ["rt"]}

[profile.release]
codegen-units = 1
lto = true
