[package]
edition = "2021"
name = "biobear"
version = "0.21.2"

[lib]
crate-type = ["cdylib"]
name = "biobear"

[dependencies]
arrow = { version = "51.0.0", features = ["pyarrow"] }
datafusion = "38"
exon = { version = "0.24.1", features = ["default"] }
pyo3 = "0.20"
tokio = { version = "1", features = ["rt"] }
noodles = { version = "0.74", features = ["core"] }

[profile.release]
codegen-units = 1
lto = true
