[package]
edition = "2021"
name = "biobear"
version = "0.13.10"

[lib]
crate-type = ["cdylib"]
name = "biobear"

[dependencies]
arrow = {version = "47", features = ["pyarrow"]}
datafusion = "32"
exon = {version = "0.3.9", features = ["all"]}
pyo3 = "0.19"
thiserror = "1.0"
tokio = {version = "1", features = ["rt"]}

[profile.release]
codegen-units = 1
lto = true
