[package]
edition = "2021"
name = "biobear"
version = "0.10.0"

[lib]
crate-type = ["cdylib"]
name = "biobear"

[dependencies]
arrow = {version = "46", features = ["pyarrow"]}
datafusion = "31"
exon = {version = "0.3.1", features = ["all"]}
pyo3 = "0.19"
tokio = {version = "1", features = ["rt"]}
