[package]
edition = "2021"
name = "biobear"
version = "0.14.2"

[lib]
crate-type = ["cdylib"]
name = "biobear"

[dependencies]
arrow = {version = "49.0.0", features = ["pyarrow"]}
datafusion = "34"
exon = {version = "0.7.1", features = ["all"]}
pyo3 = "0.20"
thiserror = "1.0"
tokio = {version = "1", features = ["rt"]}

[profile.release]
codegen-units = 1
lto = true
