[package]
edition = "2021"
name = "biobear"
version = "0.15.3"

[lib]
crate-type = ["cdylib"]
name = "biobear"

[dependencies]
arrow = { version = "50.0.0", features = ["pyarrow"] }
datafusion = "36"
exon = { version = "0.10.0", features = ["all"] }
pyo3 = "0.20"
tokio = { version = "1", features = ["rt"] }

[profile.release]
codegen-units = 1
lto = true
