[package]
edition = "2021"
name = "biobear"
version = "0.13.12"

[lib]
crate-type = ["cdylib"]
name = "biobear"

[dependencies]
arrow = {version = "48.0.1", features = ["pyarrow"]}
datafusion = "33"
exon = {version = "0.5.3", features = ["all"]}
pyo3 = "0.20"
thiserror = "1.0"
tokio = {version = "1", features = ["rt"]}

[profile.release]
codegen-units = 1
lto = true
