[package]
edition = "2021"
name = "biobear"
version = "0.7.1"

[lib]
crate-type = ["cdylib"]
name = "biobear"

[dependencies]
arrow = {version = "42", features = ["pyarrow"]}
datafusion = "27"
exon = {version = "0.2.5", features = ["all"]}
pyo3 = "0.19"
tokio = {version = "1", features = ["rt"]}
