[package]
edition = "2021"
name = "biobear"
version = "0.6.2"

[lib]
crate-type = ["cdylib"]
name = "biobear"

[dependencies]
arrow = {version = "40", features = ["pyarrow"]}
datafusion = "26"
exon = {version = "0.1.2", features = ["all"]}
object_store = {version = "0.6.1", features = ["aws", "gcp", "azure", "aws_profile"]}
pyo3 = "0.18.3"
tokio = {version = "1", features = ["rt"]}
url = "2.4.0"
