[package]
edition = "2021"
name = "biobear"
version = "0.22.0"

[lib]
crate-type = ["cdylib"]
name = "biobear"

[dependencies]
arrow = { version = "52.0.0", features = ["pyarrow"] }
datafusion = "39"
exon = { version = "0.25", features = ["default"] }
pyo3 = "0.21.2"
tokio = { version = "1", features = ["rt"] }
noodles = { version = "0.76", features = ["core"] }

[profile.release]
codegen-units = 1
lto = true
