[build-system]
build-backend = "maturin"
requires = ["maturin>=0.14,<0.15"]

[project]
classifiers = [
  "Programming Language :: Rust",
  "Programming Language :: Python :: Implementation :: CPython",
  "Programming Language :: Python :: Implementation :: PyPy",
]
dependencies = ["polars>=0.17.0"]
name = "biobear"
requires-python = ">=3.7"

[tool.maturin]
features = ["pyo3/extension-module"]
python-source = "python"
