# Create a smoketest that just installs the biobear python package and reads an example file

name: Smoke Test

on:
    workflow_dispatch:


jobs:
    test-package:
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                os: [ubuntu-latest, macos-latest, windows-latest]
                python-version: [3.9, "3.10", 3.11]
        steps:
            - name: Checkout
              uses: actions/checkout@v2

            - uses: actions/setup-python@v2
              with:
                  python-version: ${{ matrix.python-version }}

            - name: Install biobear
              run: |
                  python -m pip install --upgrade pip
                  pip install biobear

            - name: Read example fasta file
              shell: bash
              run: |
                python ./.github/workflows/smoketest.py
