name: Test

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2

            - uses: actions-rs/toolchain@v1
              with:
                  toolchain: stable

            - uses: actions/setup-python@v2
              with:
                  python-version: '3.9'

            # setup a virtual environment
            - name: Setup Python and Run Tests
              run: |
                  python -m pip install --upgrade pip
                  pip install virtualenv
                  virtualenv venv
                  source venv/bin/activate
                  pip install -r requirements-dev.txt
                  cargo build
                  maturin develop

                  ruff check python/
                  pytest
